header{
    font-weight: bold;
    background-color: rgb(23, 44, 102);
    text-align: center;
    width:auto;
    height:100px;
}
.heading{
    background:white;
    height: 50px;
    position: relative;
    width: 180px;
    top: 25%;
    left: 40%;
}
.heading p
{
    font-size: small;
}
h2{
    margin-bottom: -40px;
    text-align: center;
}
.nav{
    margin-left: 10px;
    margin-right: 10px;
}
.left{
    text-align: left;
    margin-bottom: -40px;
}
.right
{
    text-align: right;
}
img{
    float:left;
    height: 180px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px ;
    vertical-align: baseline;
}
.all
{
    text-align: justify;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button
{
    background-color: rgb(241, 185, 28);
}