header{
    background-color: rgb(175, 182, 185);
    text-align: center;
    font-size: 80%;
    font-style: italic;
}
footer{
    background-color: rgb(175, 182, 185);
    text-align: center;
    padding: 30px;
    font-size: 80%;
    font-style: italic;
}